// section
div.about {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: min-content;
  display: flex;
  // border: 1px green solid;
  padding-bottom: 2vh;
  padding-top: 2vh;
  div.caria {
    // border: 1px green solid;
    text-align: center;
    width: 60vw;
  }
}
