// section
div.contect {
  justify-content: space-between;
  flex-direction: column;
  border-radius: 50%;
  color: rgb(123, 114, 114);
  display: flex;
  height: 60vh;
  h3.title {
    padding-top: 4rem;
    color: rgb(10, 160, 214);
  }
  div.contect-info {
    justify-content: space-evenly;
    flex-direction: column;
    // margin-bottom: 100%;
    text-align: center;
    display: flex;
    height: 60vh;
    .fa-envelope {
      color: rgb(0, 208, 255);
    }
    .fa-phone {
      color: rgb(8, 187, 8);
    }
    .fa-map {
      color: yellow;
    }
  }
}