ul.menu {
  justify-content: space-evenly;
  list-style: none;
  display: flex;
  width: 50vw;
  font-family: "Prata", serif;

  li.menu-item {
    border-bottom: 3px solid rgba(0, 128, 0, 0);
    color: rgb(143, 143, 143);
    font-weight: 900;
    cursor: pointer;
    margin-top: 5px;
  }
  li.menu-item:hover {
    color: rgba(30, 100, 12, 0.514);
    border-bottom: 3px solid rgba(0, 128, 0, 0.384);
  }
}
