@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Prata&family=Josefin+Sans&family=Montserrat&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #f2a20c;
  --white-color: #0f3787;
  --dark-color: #272d40;
  --dark-color-lighten: #f2f5ff;
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

*,
::before,
::after {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

@import "./imp";
@import "./header";
@import "./main";
@import "./footer";
